pre code {
    font-size: $mainPFontSize;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

code {
    font-size: 1rem;
    color: #abb2bf;
    background: #282c34;
    padding: 0.2rem 0.6rem;
}

@media (min-width: 992px) {
    pre code {
        font-size: $mainPFontSize * $fontScaleFactor;
        margin-bottom: $mainLineHeight * $mainPFontSize * $fontScaleFactor;
    }

    code {
        font-size: $mainPFontSize * $fontScaleFactor;
    }
}
