.container,
.inner-footer {
    width: 100%;
    margin-top: 2rem;
    padding: 1.4rem 1rem;
    overflow: auto;
}

::selection,
::-moz-selection {
    background: $minionYellow;
}

.main-title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}

.toc {
    visibility: hidden;
}

@media (min-width: 768px) {
    .container,
    .inner-footer {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-title {
        font-size: 3rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-width: 992px) {
    .container,
    .inner-footer {
        width: 960px;
    }

    .week-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 1000px;
    }

    .week {
        width: 65%;
    }

    .main-title {
        font-size: 4rem;
        margin-bottom: 1.96rem;
    }

    p {
        font-size: 1.4rem;
        margin-bottom: 1.96rem;
    }

    .toc {
        width: 30%;
        visibility: visible;
        text-align: right;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .toc ul {
        list-style-type: none;
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .container,
    .inner-footer {
        width: 1160px;
    }
}
