.container,
.inner-footer {
    width: 100%;
    margin-top: 8em;
    padding: 1.4em 1em;
    overflow: auto;
}

::selection,
::-moz-selection {
    background: $minionYellow;
}

.main-title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}

.toc {
    display: none;
}

@media (min-width: 768px) {
    .container,
    .inner-footer {
        width: 740px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-title {
        font-size: 3rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-width: 992px) {
    .container,
    .inner-footer {
        width: 960px;
    }

    .week-container {
        display: grid;
        grid-template-columns: 30% auto;
    }

    .week {
        width: 65%;
    }

    .main-title {
        font-size: 4rem;
        margin-bottom: 1.96rem;
    }

    p {
        font-size: 1.4rem;
        margin-bottom: 1.96rem;
    }
}

@media (min-width: 1200px) {
    .container,
    .inner-footer {
        width: 1160px;
    }
}
