@media (min-width: 992px) {
    .toc ul li {
        padding: 0.3rem 0;
    }

    .toc ul li a {
        display: block;
        padding: 0.2rem 1rem;
        text-decoration: none;
        border-right: 3px solid white;
    }

    .toc ul li a.current {
        border-right: 3px solid $blueGem;
    }
}
