html {
    font-size: 100%;
}

body {
    font-family: $mainFont;
    color: $mainFontColor;
    line-height: 1.4;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1.4rem;
}

a {
    color: $blueGem;
}

.week h1 a,
.week h2 a,
.week h3 a,
.week h4 a {
    color: $darkCharcoal;
    text-decoration: none;
}

.week h1 a:hover,
.week h2 a:hover,
.week h3 a:hover,
.week h4 a:hover {
    text-decoration: underline;
}
