html {
    font-size: 100%;
    font-family: $mainFont;
}

// @supports (font-variation-settings: normal) {
//     html {
//         font-family: 'Inter var', sans-serif;
//     }
// }

body {
    color: $mainFontColor;
    line-height: $mainLineHeight;
    font-display: auto;
}

h1 {
    font-size: $mainH1FontSize;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

h2 {
    font-size: $mainH2FontSize;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

h3 {
    font-size: $mainH3FontSize;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

h4 {
    font-size: $mainH4FontSize;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

p {
    font-size: $mainPFontSize;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

a {
    color: $blueGem;
}

.week h1 a,
.week h2 a,
.week h3 a,
.week h4 a {
    color: $darkCharcoal;
    text-decoration: none;
}

.week h1 a:hover,
.week h2 a:hover,
.week h3 a:hover,
.week h4 a:hover {
    text-decoration: underline;
}

.anchor {
    text-decoration: none;
    margin-left: 1rem;
    display: none;
}

.general-information h2:hover .anchor,
.general-information h4:hover .anchor {
    display: inline;
}

blockquote {
    border-left: 4px solid $minionYellow;
    padding: 2rem;
    box-shadow: $shadow;
    margin-bottom: $mainLineHeight * $mainPFontSize;
}

blockquote p {
    font-size: $mainPFontSize * $fontScaleFactor;
    margin-bottom: 0;
}
