$minionYellow: #f0db4f;
$darkCharcoal: #323330;
$blueGem: #2915a3;
$mediumRedViolet: #bd2b80;
$spray: #68e7f2;
$starship: #ccf845;
$purple: #7d0db0;

$shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);

$mainFont: "Inter UI", sans-serif;
$codeFont: monospace;
$mainFontColor: $darkCharcoal;
$alternateFontColor: white;
