$minionYellow: #f0db4f;
$darkCharcoal: #323330;
$blueGem: #2915a3;
$royalBlue: #654ff0;

$shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);

$mainFont: "Inter UI", sans-serif;
$codeFont: monospace;
$mainFontColor: $darkCharcoal;
$alternateFontColor: white;

$mainPFontSize: 1rem;
$mainH1FontSize: 3rem;
$mainH2FontSize: 2.4rem;
$mainH3FontSize: 2rem;
$mainH4FontSize: 1.7rem;
$fontScaleFactor: 1.15;
$mainLineHeight: 1.4;
