* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 100%;
    font-family: sans-serif;
}

h1 {
    font-size: 8rem;
}

.main-header {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
}

.container {
    width: 100%;
    height: 100%;
    padding-bottom: 32rem;
    z-index: 10;
    position: relative;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #f0db4f;
    color: #333;
    box-sizing: border-box;
    padding: 6rem;
    z-index: 10;
    position: relative;
    box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.2);
    animation: pulsate-bg 30s linear infinite;
}

@media (max-width: 1000px) {
    .main-header {
        font-size: 4em;
        bottom: 3rem;
        right: 3rem;
    }
}

@media (max-width: 667px) {
    .main {
        padding: 0.8rem;
    }

    .main-header {
        font-size: 3em;
        bottom: 2rem;
        right: 2rem;
    }
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
