* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    margin: 2rem auto;
    width: 70vw;
}

.input-label {
    display: block;
    margin-bottom: 2rem;
}

.input-field {
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: 1.25rem;
}

.input-field:valid {
    background-color: lightgreen;
}

.input-field:invalid {
    background-color: #fcc;
    outline: 3px solid #c00;
}

.input-field:focus {
    outline: 3px solid green;
}

.date-label {
    position:relative;
}

.date-picker {
    display: none;
    position:absolute;
    top: 102%;
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 4px;
}

.picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
    height: 150px;
    font-size: 6rem;
    align-self: center;
    line-height: 1.5;
}

.arrow {
    align-self: center;
    width: 30px;
    height: 20px;
    background-color: #444;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: monospace;
    line-height: 1;
}

.next {
    align-self: flex-end;
}

@media (min-width: 768px) {
    .input-field,
    .date-picker {
        width: 30vw;
    }
}
